:root {
  --black-color: rgba(2, 2, 2, 1);
  --white-color: rgba(255, 255, 255, 1);
  --violet-color: rgba(144, 111, 204, 1);
  --violet-hover: rgba(103, 61, 177, 1);
  --blue-color: rgba(9, 132, 203, 1);
  --blue-dark-color: rgba(7, 105, 161, 1);
  --grey-color: rgba(247, 247, 247, 1);
  --grey-dark-color: rgba(177, 177, 177, 1);
  --red-color: rgba(255, 78, 78, 1);
  --green-color: rgba(55, 167, 46, 1);
  --overlay-color: rgba(217, 217, 217, 0.5);
  --overlay-2-color: rgba(10, 10, 10, 0.6);
  --footer-color: rgba(9, 132, 203, 0.06);
  --linear-gradient: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.test-class {
  padding: 1rem 2rem;
}

body {
  font-family: var(--font-inter);
}

h1,
h2,
h3 {
  font-family: var(--font-montserrat);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
}

h2 {
  font-size: 24px;
}

h2.bold {
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

p.bold {
  font-weight: 700;
}

p.comment {
  font-size: 12px;
}
