.button {
  width: 100%;
  max-width: 892px;
  border: 1px solid rgba(177, 177, 177, 1);
  border-radius: 8px;
  padding: 20px 15px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  &:not(:disabled):hover {
    cursor: pointer;
  }
  &.open {
    border-color: rgba(9, 132, 203, 1);
    margin-bottom: 0;
  }
}

.title {
  margin: 0;
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
.content {
  padding: 24px 30px 24px 0;
  width: 100%;
  max-width: 862px;
  @include keyframes(opening) {
    0% {
      opacity: 0;
      max-height: 0;
    }
    100% {
      opacity: 1;
      max-height: 1000px;
    }
  }
  @include animate(opening, 0.3s, ease-in, 1);
}
