.about {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  width: 100%;
  min-height: 430px;
  box-sizing: border-box;
  color: var(--black-color);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 430px;
    left: 0;
    background-image: linear-gradient(
        to top,
        #ffffff 0%,
        rgba(255, 255, 255, 0.01) 20%
      ),
      url('../../../shared/images/for-about/Group 622.png');
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  max-width: 580px;
}

.title {
  font-size: 32px;
  margin-top: 0;
}

.text {
  margin: 20px 0 24px;
}

.links {
  width: 100%;
  max-width: 1094px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.link {
  margin: 0;
  cursor: pointer;
}

.linkTitle {
  display: block;
  font-size: 16px;
  line-height: 28px;
  color: white;
  text-decoration: none;
  padding: 8px 30px;
  background-color: var(--violet-color);
  border-radius: 8px;
}

@media screen and (max-width: 1110px) {
  .about {
    &::before {
      content: '';
      top: 80px;
    }
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 938px) {
  .about {
    &::before {
      content: '';
      top: 140px;
    }
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 758px) {
  .about {
    &::before {
      content: '';
      top: 200px;
    }
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 570px) {
  .about {
    &::before {
      content: '';
      top: 230px;
    }
    margin-bottom: 240px;
  }
}

@media screen and (max-width: 472px) {
  .about {
    &::before {
      content: '';
      top: 300px;
    }
    margin-bottom: 300px;
  }
}

@media screen and (max-width: 415px) {
  .about {
    &::before {
      content: '';
      top: 430px;
    }
    margin-bottom: 420px;
  }
}

@media screen and (max-width: 320px) {
  .about {
    &::before {
      content: '';
      top: 430px;
    }
  }
}
