.map {
  width: 100%;
  min-height: 517px;
  border-radius: 8px;
}

.mapMarker {
  width: 3rem;
  height: 3rem;
  position: relative;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
