.button {
  position: relative;
  border-color: transparent;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;

  &:not(:disabled):active {
    transform: translateY(1px);
  }

  &.violet {
    background-color: var(--violet-color);
    color: white;

    &:not(:disabled):hover {
      opacity: 0.7;
    }
  }

  &:disabled {
    background-color: darkgray;
    color: lightgray;
    cursor: default;
  }

  &.circle {
    &:after {
      position: absolute;
      content: '';
      display: block;
      background-color: red;
      width: 10px;
      height: 10px;
      left: calc(100% + 5px);
      bottom: 100%;
    }
  }
}
