.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: border 0.3s ease;

  &.active .label,
  &:focus-within .label {
    font-size: 12px;
    transform: translate(-8px, -14px);
  }

  &.error {
    border: 1px solid rgba(255, 78, 78, 1);
  }
}

.input {
  width: calc(100% - 20px);
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 22px 10px 10px 10px;
  color: var(--grey-dark-color);

  &.error {
    padding: 22px 10px 0 10px;
  }

  &.error:focus {
    padding: 22px 10px 0 10px;
  }

  &:focus {
    color: var(--black-color);
  }

  &[type='date']:not(:focus)[value=''] {
    color: transparent;
  }
}

.label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 18px 0 0 16px; // !!!
  transition: 0.3s;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  color: var(--grey-dark-color);
  pointer-events: none;

  &.required {
    &::after {
      content: ' *';
      color: var(--red-color);
    }
  }

  &.error {
    font-size: 12px;
    transform: translate(-8px, -14px);
  }
}

.errorText {
  display: block;
  margin: 0;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 0px;
  overflow: hidden;
  color: var(--red-color);
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 12px;
  line-height: 2.33;
  transition: height 0.3s ease;

  &.error {
    height: 28px;
  }
}
