/**
 * Вариант 2.
**************************************************/
.form__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1) inset;
}

.input {
  width: 100%;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 22px 10px 14px 10px;

  &.search,
  &.search_in-category {
    background-image: url('./images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center right 14px;
    background-size: 24px 24px;
    padding: 8px 52px 8px 24px;
  }

  &.search_in-category {
    padding-left: 30px;
  }

  &::placeholder {
    color: var(--grey-dark-color);
    opacity: 1;
  }

  &:not(:placeholder-shown) + span,
  &:focus + span {
    transform: translateX(10px) translateY(2px);
    font-size: 12px;
    padding: 0px;
  }
}

.label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 18px 0 0 16px;

  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  color: var(--grey-dark-color);

  pointer-events: none;
  transition: 0.3s;

  &.required {
    &::after {
      content: ' *';
      color: var(--red-color);
    }
  }
}

/**
 * Вариант 1.
**************************************************/

// .form__item {
//   // <label>
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   box-sizing: border-box;
//   border-radius: 8px;
//   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1) inset;
//   background-color: #fff;
//   padding: 22px 10px 14px 10px;
//   // padding: 14px 10px;

//   &.search,
//   &.search_in-category {
//     background-image: url('./images/search-icon.svg');
//     background-repeat: no-repeat;
//     background-position: center right 14px;
//     background-size: 24px 24px;
//     padding: 8px 52px 8px 24px;
//   }

//   &.search_in-category {
//     padding-left: 30px;
//   }

//   &:focus-within .label {
//     // color: #f00;
//     font-size: 12px;
//     transform: translate(-8px, -14px);
//   }
// }

// .label {
//   // <span>
//   font-size: 16px;
//   line-height: 1.75;
//   font-weight: 400;
//   position: absolute;
//   left: 16px;
//   top: 18px;

//   color: #b1b1b1;
//   transform: translate(0, 0);
//   transform-origin: left top;
//   transition: transform 0.3s ease-in-out; // linear

//   &.required {
//     &::after {
//       content: ' *';
//       color: var(--red-color);
//     }
//   }

//   &.active {
//     // color: #06d;
//     font-size: 12px;
//     transform: translate(-8px, -14px);
//   }
// }

// .input {
//   // <input>
//   position: relative;
//   border: none;
//   outline: none;
//   width: 100%;

//   font-size: 16px;
//   line-height: 1.75;
//   font-weight: 400;
//   padding: 0;
//   background-color: transparent;
//   // background-color: rgba(0, 0, 0, 0.1);

//   &::placeholder {
//     color: #b1b1b1;
//     opacity: 1;
//   }
// }
