.form__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1) inset;
}

.input {
  width: 100%;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 22px 10px 14px 10px;

  color: var(--grey-dark-color);

  &:focus {
    color: var(--black-color);
  }

  &::placeholder {
    opacity: 0;
  }

  &:not(:placeholder-shown) + span,
  &:focus + span {
    transform: translateX(10px) translateY(2px);
    padding: 0px;
    font-size: 12px;
  }
}

.label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 18px 0 0 16px;
  transition: 0.3s;

  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  color: var(--grey-dark-color);
  pointer-events: none;

  &.required {
    &::after {
      content: ' *';
      color: var(--red-color);
    }
  }
}
