@import '../../styles/mixins.scss';

.news {
  @include flex-row;
  gap: 14px;
  border-radius: 8px;

  &__image {
    width: 308px;
    height: 209px;

  }

  &__content {
    @include flex-column;
    gap: 16px;

    &_date {
      @include mp-null;
    }
  }
}
