.signupForm {
  margin: 0;
  padding: 0;
  max-width: 431px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupFormAuthLinksWrapper {
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.signupFormAuthLink {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--black-color);
  text-decoration: none;
  cursor: pointer;

  &.active {
    cursor: default;
    font-weight: 700;
    line-height: 29.26px;
  }
}

.signupFormExternalWrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.signupFormExternalButton {
  margin: 0;
  padding: 18px 86px;
  max-width: calc(100% - 86px * 2);
  display: flex;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.signupFormSeparator {
  margin: 0;
  padding: 32px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.signupFormSeparatorLine {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 0.5px solid rgba(177, 177, 177, 1);
}

.signupFormSeparatorText {
  margin: 0 15px;
  padding: 0;
  color: var(--grey-dark-color);
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.signupFormInputsWrapper {
  margin: 0;
  padding-bottom: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.signupFormSubmitButton {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  padding: 8px 30px;
  padding-block: 0;
  padding-inline: 0;
}
