.selectbox {
  cursor: pointer;
  font-family: var(--font-montserrat);
  appearance: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px);
  background-image: url('../../images/arrow-down--white.svg');
  border-radius: 8px;
  border-color: transparent;
  color: white;
  transition: .3s;

  &:not(:disabled):active {
    transform: translateY(1px);
  }

  &.violet {
    background-color: var(--violet-color);

    &:not(:disabled):hover {
      opacity: 0.9;
    }
  }

  &.white {
    border-color: black;
    background-color: var(--white-color);
    background-image: url('../../images/arrow-down--black.svg');
    color: black;
  }

  &.blue {
    background-color: rgba(9, 132, 203, 1);
    color: var(--blue-color);

    &:not(:disabled):hover {
      background-color: rgba(7, 105, 161, 1);
      transition: .3s;
    }
  }

  &::-ms-expand {
    background-color: var(--violet-color);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    background-color: var(--overlay-color);
  }

  & option {
    background-color: white;
    color: var(--violet-color);
  }
}
