.selectbox {
  position: relative;
  cursor: pointer;
  font-family: var(--font-inter);
  height: 44px;
  border-radius: 8px;
  max-width: 259px;

  &::after {
    content: url('../../images/arrow-down--white.svg');
    position: absolute;
    top: 50%;
    right: 25px;
    width: 20px;
    transform: translateY(-50%);
  }

  &.white {
    max-width: 107px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.3);

    &::after {
      content: url('../../images/arrow-down--black.svg');
      right: 27px;
    }
  }

  &:hover {
    transition: 0.3s;
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }

  &.violet {
    background-color: var(--violet-color);
  }

  &.blue {
    background-color: var(--blue-color);

    &:hover {
      background-color: var(--blue-dark-color);
    }
  }
}

.button {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  padding-left: 30px;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
  position: relative;
  color: var(--white-color);
  border: none;
  background: none;
  width: 85%;
  height: 100%;

  &.white {
    padding-left: 35px;
    color: var(--black-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-radius: 0;
  }
}

.options {
  margin-top: 3px;
  position: absolute;
  display: none;
  background-color: var(--white-color);
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  transition: 0.3s;

  &.violet {
    border: 1px solid var(--violet-color);
  }

  &.blue {
    border: 1px solid var(--blue-color);
  }

  &.white {
    border-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }

  a {
    border-radius: 8px;
    text-decoration: none;
    display: block;
    padding: 10px 15px 10px;

    &:hover {
      background-color: var(--grey-color);
    }

    &.violet {
      color: var(--violet-color);
    }

    &.blue {
      color: var(--blue-color);
    }

    &.white {
      color: var(--black-color);
      text-align: center;
    }
  }

  &.enabled {
    display: flex;
    flex-direction: column;
  }
}

.options.enabled a:hover,
.options.enabled a.selected,
.options.enabled a.selectedOpen {
  background-color: var(--grey-color);
}
