.territoryAssociation {
  margin: 0;
  padding-top: 60px;
  width: 100%;
  min-height: calc(822px - 60px);
  display: flex;
  flex-direction: column;
}

.territoryAssociationTitle {
  margin: 0;
  padding: 0;
  color: var(--black-color);
}

.territoryAssociationSubtitle {
  margin: 0;
  padding-top: 12px;
  max-width: 468px;
  color: var(--black-color);
}

.territoryAssociationCanvasContainer {
  flex: 1;
  position: relative;
}

.territoryAssociationCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}