.profileForm {
  max-width: 500px;
}

// .signupFormSubmitButton {
//   border: none;
//   font-family: var(--font-inter);
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.75;
//   padding: 8px 30px;
// }

// .iiinpt{
// 	font-family: var(--font-inter);
// }

.button {
  font-size: 16px;
  line-height: 1.75;
  padding: 8px 30px;
}