.profileForm {
  max-width: 892px; // 892px
  // background-color: #ffd;
}

.userInfo {
  display: flex;
  gap: 30px;
}

.imageContainer {
  width: 74px;
  height: 74px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  flex: 0 0 74px;
  // background-color: #fcf;
}

.avatar {
  // position: relative;
  width: 74px;
  height: 74px;
}

.imageButtonContainer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  // opacity: 0;

  // &:hover {
  //   opacity: 1;
  // }
}

.imageButton {
  // position: absolute;
  // left: 0;
  // z-index: 2;
  background-color: transparent;
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 74px;
  height: 37px;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &.addAvatar {
    // top: 0;
    background-image: url('../../shared/images/for-profile/add-photo2.svg');
    border-bottom: 1px dashed #fff;
  }

  &.deleteAvatar {
    // bottom: 0;
    background-image: url('../../shared/images/for-profile/delete-photo2.svg');
    border-top: 1px dashed #fff;
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0 0 8px 0;
}

.description {
  display: block;
  max-width: 400px;
}

// -----------------

.headerForm {
  // background-color: #fcf;
  padding: 32px 0;

  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 24px 30px;
}

.item {
  width: 100%;
  max-width: 431px;
  // width: calc(50% - 15px);
  // min-width: 400px;
  // background-color: #cff;
}

// .signupFormSubmitButton {
//   border: none;
//   font-family: var(--font-inter);
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.75;
//   padding: 8px 30px;
// }

.buttonsContainer {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 36px;
}

// .button {
//   font-size: 16px;
//   line-height: 1.75;
//   padding: 8px 30px;
// }
