.container {
  max-width: 431px;
  height: 450px;
  border-radius: 8px;
  display: flex;
  box-sizing: border-box;
  align-items: end;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.image {
  max-width: 431px;
  z-index: 0;
  position: absolute;
}

.data {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 431px;
  height: 151px;
  padding: 0;
  justify-content: left;
  border-radius: 0px 0px 8px 8px;
  background-color: var(--overlay-2-color);
}

.info {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 20px auto 0 28px;
  justify-content: left;

  p {
    color: var(--white-color);
    font-family: var(--font-inter);
    background-color: transparent;
    height: 28px;
    margin: 0;
    padding: 0;
  }
}

.icon {
  background-color: var(--white-color);
  background-color: transparent;
  margin-right: 10px;
}

.calendar {
  border: 1px;
}

.event {
  margin-left: 20px;
}

.type {
  min-width: 83px;
  height: 28px;
}

.date {
  width: 146px;
  height: 28px;
}

.title {
  width: 330px;
  height: 48px;
  margin: 20px auto 35px 20px;
  justify-self: left;
  color: var(--white-color);
  background-color: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: var(--font-inter);
}