.breadcrumb {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbLink {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--font-inter);
  color: var(--grey-dark-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: var(--black-color);
  }

  &.last {
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      cursor: default;
      color: var(--grey-dark-color);
    }
  }
}

.breadcrumbLinkWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;

  &.last {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
  }
}
