.textareaContainer {
  padding: 2px 10px 2px 10px;
  min-width: 411px;
  min-height: 60px;
  background: var(--white-color);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05) inset;
  border-radius: 8px;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: min-width 0.5s ease;
  &.onValue {
    min-width: 718px;
  }
}

.textareaLabel {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: var(--grey-dark-color);
  transition:
    top 0.5s ease,
    left 0.5s ease,
    font-size 0.5s ease;
  &.onFocus {
    top: 0;
    left: 10px;
    font-size: 14px;
  }
}

.textareaStar {
  color: var(--red-color);
}

.textarea {
  max-height: 28px;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
  &.onFocus {
    max-height: none;
    padding-top: 20px;
  }
}
